export AZURE_MANAGEMENT_CERT=/path/to/management/cert
export AZURE_SUBSCRIPTION=subscription_id
export AZURE_IMAGE=a699494373c04fc0bc8f2bb1389d6106__Windows-Server-2012-R2-201502.01-en.us-127GB.vhd
export AZURE_BOX_USERNAME=username
export AZURE_BOX_PASSWORD=password
export AZURE_BOX_NAME=box01
export AZURE_ZONE="West US"
export AZURE_BOX_PEM=/path/to/box/pem
export AZURE_SERVICE_NAME="service-name"
export AZURE_DEPLOYMENT_NAME="deployment-name"
